*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.card_img  {
 /*  position: absolute;
  margin-top: 2em;
  margin-left: 20em;
  margin-right: 7em;
  margin-bottom: 2em;
  width: 1000px;
  height: 318px; */
  width: 90%;
  height: 50%;
 /*  margin-top: 3.2em;
  margin-bottom: 1em; */
  margin-top: 2em;
  margin-left: 4.2em;
  
  
}

.img {
width: 100%;
height: 30em;
z-index: -1;
}
/* banner_listado */

