/* banner_listado */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */

.header {
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 4em;
  margin-bottom: 1em;
}

header .nav .navLink {
  margin: 0.5em;
}

.navLink {
  color: #8c8c8c;
  font-size: 0.9rem;
}

#FunkoPop {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

header .filter {
  position: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.svgFilter {
  margin-right: 0.5em;
  color: black;
}

.filter button {
  padding: 0.5em;
  width: 20em;
  border-radius: 0.5em;
  border: solid gray 3.5px;
  background-color: unset;
  text-align: left;
  margin: 0 3px;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.svgArrow {
  position: relative;
  left: 13em;
}

.search button {
  padding: 0.5em;
  width: 20em;
  border-radius: 3px;
  border: solid #f0f0f0 3px;
  background-color: #f3f3f3;
  margin-bottom: 0.5em;
  background-color: unset;
  text-align: left;
  color: #505050;
}

.orderBy {
  position: relative;
  left: 11.6em;
}

.hero-section__container {
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 0.5em;
}

.hero-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PRODUCTS */

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px #f0f0f0 solid;
  border-bottom: 1px #f0f0f0 solid;
  max-width: 95%;
}

.card__img__container {
  width: 45%;
  margin-left: 1em;
}

.card__description {
  height: 8em;
  flex-wrap: wrap;
  margin-top: 1.5em;
  margin-left: 0.9em;
  line-height: 1.5em;
  font-size: 0.9rem;
}

.card__description p {
  font-size: 1rem;
  background-color: red;
}

#funko {
  margin-top: 1.5em;
  font-size: 1rem;
  font-weight: 800;
  color: #7d5a94;
  font-family: "Poppins", sans-serif;
}

#card__description__name {
  font-size: 0.9rem;
  color: black;
  line-height: 1.2em;
}

.card__img {
  width: 100%;
}

.card__data__container {
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1em;
}

#card__fake__container {
  height: 13.3em;
}

.card__price__int {
  line-height: 0.2em;
  margin-bottom: 3.2em;
}
#card__price__interest {
  color: #505050;
}

#card__price__price {
  font-weight: 700;
}

#card__price__final {
  position: relative;
  bottom: 2.3em;
}

#span__final {
  font-size: 0.9rem;
  color: black;
}
#span__final2 {
  color: #8c8c8c;
  text-decoration: line-through;
}

#span__final3 {
  color: #ec2227;
  font-weight: bold;
  letter-spacing: 1%;
}

.svg-cart {
  border-radius: 6px;
}

#card__img__fake {
  background-color: #f0f0f0;
  width: 300px;
  height: 94%;
  margin-top: 2.5em;
  margin-left: 3em;
}

/* FOOTER */

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3em 0;
  font-family: "Poppins", sans-serif;
  color: #8c8c8c;
}

.footer-arrow {
  position: relative;
  bottom: 0.4em;
}

#six {
  border: solid 3px #f26522;
  border-radius: 0.8em;
  letter-spacing: 5%;
  padding: 0.7em;
  font-size: medium;
}

/**SALIO BIEN */
/* ?Que hizo este tipo */
/* TODO ESTUDIAR */
/* !Fijarse despues si se puede arreglar el border */

@media only screen and (min-width: 1280px) {
  /* HEADER */

  .padre {
    display: flex;
    flex-flow: row wrap-reverse;
  }

  .header {
    padding: 0 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  .header nav {
    margin-top: 11px;
  }

  .filter button {
    border: none;
    text-align: center;
    width: 10em;
    font-weight: bold;
  }

  #svg-arrow {
    position: relative;
    left: 0.5em;
    transform: rotate(90deg);
  }

  .search button {
    position: relative;
    top: 2px;
    width: 15em;
  }

  .orderBy {
    position: relative;
    left: 6.5em;
  }

  .hero-section__container {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
  }

  /* PRODUCTS */

  .product-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 3em 1.7em;
  }
  .card__img__container {
    width: 390px;
    height: 410px;
  }

  .card__img {
    height: 438px;
    width: 365px;
  }

  .buttonfake {
    border: 3px #f0f0f0 solid;
    border-radius: 0.5em;
    background-color: white;
    width: 95px;
    height: 66px;
    position: relative;
    left: 3.9em;
    top: 2em;
  }

  #div-funko {
    background-color: #f0f0f0;
    width: 7.5em;
    height: 0.8em;
    right: 1.7em;
    text-align: end;
    position: relative;
    top: 2em;
  }
  #div-funko1 {
    background-color: #f0f0f0;
    height: 1em;
    width: 17em;
    position: relative;
    bottom: em;
    left: 3em;
  }

  #div-funko2 {
    border-top: 5px white solid;
    background-color: #f0f0f0;
    height: 1.3em;
    width: 17em;
    position: relative;
    bottom: em;
    left: 3em;
  }

  #div-funko3 {
    background-color: #f0f0f0;
    width: 13em;
    height: 1em;
    left: 1em;
    bottom: 5em;
    position: relative;
  }
  .card_empty {
    margin-bottom: 3em;
  }

  /* FOOTER */

  .footer__container {
    display: flex;
    align-items: center;
    width: 25%;
    margin-left: 46em;
    margin-top: 6em;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 1366px) {
  #fake_container {
    display: none;
  }
  .svg-cart {
    display: none;
  }
}
